/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.nav-manu a{
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    margin: 2px;
}
.nav-manu{
    margin-top: 20px;
    text-align: end;
}
.nav-logo{
   text-align: left;
}
.nav-header h1{
    text-align: right;
}

/* profile start */
.md{
    text-align: center;
    font-size: 1.3rem;
    color:gray;
    width: 70%;
}
.top-img{
    transition:2s;
}
.top-img:hover{
    transform: rotate(360deg);
    width: 110px;
}
.bottom-img{
   transition: 2s;
}
.bottom-img:hover{
    transform: rotate(360deg);
    width: 110px;
}
.profile::after{
  content: " ";
  clear: both;
  display: flex;
}
/* profile end */
/* profile end */
.about-me-img img{
    height: 330px;
    width: 300px;
    margin-left: 80px;
}
.about-me2 p{
 text-align: left;
 font-size: large;
}
/* about me start */
/* professional experience start*/
.card{
    padding: 1% 5%;
  }
/* professional experience end*/
/* achievement-contact start*/
.more-way{
    position: relative;
    text-align: center;
}
.more-btn{
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* achievement-contact end*/

.footer a{  
    display: inline;
    padding: 10px; 
 }